---
---

$header-bg-color: #155799 !default;
$header-bg-color-secondary: #158B99 !default;
$section-headings-color: #158B99 !default;

@import "{{ site.theme }}";

.main-content {
  max-width: 1400px; /* Default is ~64rem (≈1024px) */
  margin: 0 auto;     /* Keep it centered */
  padding: 2rem;      /* Adjust inner padding if needed */
}

